<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>手机管理</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/phone.css">
</head>

<body>
    <div class="container">
        <%- include('./common/head')%>
        <div class="jay-main">
            <%- include('./common/menu')%>
            <div class="body" style="position:relative">
                手机管理
                <div class="box" id="box">
                    <p>新增手机</p>
                </div>
                <div class="box2" id="box2" style="display:none;">
                    <h1>新增</h1>

                    <form action="/phone/insert" method="post">
                        <label>
                            手机名称&emsp;：<input type="text" name="phone">
                        </label>
                        <label>
                            所属品牌&emsp;：<select name="brand" id="">
                                <option value="苹果">苹果</option>
                                <option value="小米">小米</option>
                                <option value="三星">三星</option>
                                <option value="华为">华为</option>
                                <option value="魅族">魅族</option>
                            </select>
                        </label>
                        <label>
                            官方指导价：<input type="text" name="price">
                        </label>
                        <label>
                            二手回收价：<input type="text" name="twoPrice">
                        </label>
                        <label>
                            图&emsp;&emsp;片:
                        </label>
                        <div>
                            <input class="qd" type="submit" value="确定">
                            <input class="qd" type="button" id="btn-qx" value="取消" style="background:white;color:black;">
                        </div>
                    </form>

                </div>
                <div>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>图片</th>
                                <th>手机名称</th>
                                <th>所属品牌</th>
                                <th>官方指导价</th>
                                <th>二手回收价</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i < list.length; i++) { %>
                            <tr>
                                <th scope="row">
                                    <%= i+1 %>
                                </th>
                                <td>
                                    <%= list[i].img %>
                                </td>
                                <td>
                                    <%= list[i].phone %>
                                </td>
                                <td>
                                    <%= list[i].brand %>
                                </td>
                                <td>
                                    ￥
                                    <%= list[i].price %>
                                </td>
                                <td>
                                    ￥
                                    <%= list[i].twoPrice %>
                                </td>
                                <td>
                                    <a href="/phone.html">修改</a>
                                    <a href="/phone/delete?id=<%= list[i]._id %>">删除</a>
                                </td>
                            </tr>
                            <% }%>
                        </tbody>
                    </table>
                </div>

                <div>
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li>
                                <a href="/phone.html?page=<%= currentPage - 1 < 1 ? 1 : currentPage-1 %>&pageSize=<%= pageSize %>"
                                    aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <% for (var i = 0; i < totalPage; i++) { %>
                            <li class="<%= currentPage === (i+1) ? 'active' : '' %>">
                                <a href="/phone.html?page=<%= i+1 %>&pageSize=<%= pageSize %>">
                                    <%= i+1 %>
                                </a>
                            </li>
                            <% } %>

                            <li>
                                <a href="/phone.html?page=<%= currentPage + 1 > totalPage ? totalPage : currentPage + 1 %>&pageSize=<%= pageSize %>"
                                    aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
        <%- include('./common/foot')%>
    </div>
</body>

</html>
<script>
    var box = document.getElementById("box");
    var box2 = document.getElementById("box2");
    var qx = document.getElementById("btn-qx");

    box.onclick = function () {
        box2.style.display = "block";
    }

    qx.onclick = function () {
        box2.style.display = "none";
    }
</script>